.login-form{
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	box-shadow: 0px 0px 5px #1f1e1e;
	ul.login-tab-menu{
		padding: 0;
		& > li{
			display: inline-block;
			list-style: none;
			width: 50%;
			float:left;
			a{
				text-decoration: none;
				display: block;
				padding: 20px;
				text-align: center;
				background-color: #ccc;
			}
			a.active{
				background-color: #fff;
			}
		}
		
	}
}
#login{
	form{
		padding: 5px;
		label input{
			width: 100%;
		}
	}
}
#register{
	display: none;
}
			